name: 'tests'

permissions: {}
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'
      - 'benchmarks/**'
      - 'examples/**'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'
      - 'benchmarks/**'
      - 'examples/**'

  schedule:
    - cron: '0 9 * * *'

jobs:
  common-unit-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup NodeJS ${{ matrix.node }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: |
          npm install

      - name: Run unit tests
        run: |
          npm run test:common:unit

  common-unit-tests-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Install dependencies
        run: |
          npm install
          npx playwright install chromium
          npx playwright install firefox
          # We're not testing in WebKit atm

      - name: Run unit tests (Chromium)
        run: |
          export BROWSER=chromium
          npm run test:common:unit:web

      - name: Run unit tests (Firefox)
        run: |
          export BROWSER=firefox
          npm run test:common:unit:web
  node-unit-tests:
    runs-on: ubuntu-latest
    needs: common-unit-tests
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup NodeJS ${{ matrix.node }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: |
          npm install

      - name: Install dependencies (examples)
        working-directory: examples
        run: |
          npm install

      - name: Run linting
        run: |
          npm run lint

      - name: Typecheck
        run: |
          npm run typecheck

      - name: Run unit tests
        run: |
          npm run test:node:unit

  web-all-tests-local-single-node:
    runs-on: ubuntu-latest
    needs: node-unit-tests
    strategy:
      fail-fast: false
      matrix:
        clickhouse: [head, latest]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Start ClickHouse (version - ${{ matrix.clickhouse }}) in Docker
        uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.2
        env:
          CLICKHOUSE_VERSION: ${{ matrix.clickhouse }}
        with:
          compose-file: 'docker-compose.yml'
          down-flags: '--volumes'

      - name: Setup NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Install dependencies
        run: |
          npm install

      - name: Run all web tests
        run: |
          npm run test:web

  node-integration-tests-local-single-node:
    needs: node-unit-tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
        clickhouse: [head, latest]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Start ClickHouse (version - ${{ matrix.clickhouse }}) in Docker
        uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.2
        env:
          CLICKHOUSE_VERSION: ${{ matrix.clickhouse }}
        with:
          compose-file: 'docker-compose.yml'
          down-flags: '--volumes'

      - name: Setup NodeJS ${{ matrix.node }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: |
          npm install

      - name: Add ClickHouse TLS instance to /etc/hosts
        run: |
          sudo echo "127.0.0.1 server.clickhouseconnect.test" | sudo tee -a /etc/hosts

      - name: Run integration tests
        run: |
          npm run test:node:integration

      - name: Run TLS tests
        run: |
          npm run test:node:tls

  node-integration-tests-local-cluster:
    needs: node-unit-tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
        clickhouse: [head, latest]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Start ClickHouse cluster (version - ${{ matrix.clickhouse }}) in Docker
        uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.2
        env:
          CLICKHOUSE_VERSION: ${{ matrix.clickhouse }}
        with:
          compose-file: 'docker-compose.cluster.yml'
          down-flags: '--volumes'

      - name: Setup NodeJS ${{ matrix.node }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: |
          npm install

      - name: Run integration tests
        run: |
          npm run test:node:integration:local_cluster

  web-integration-tests-local-cluster:
    runs-on: ubuntu-latest
    needs: node-unit-tests
    strategy:
      fail-fast: false
      matrix:
        clickhouse: [head, latest]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Start ClickHouse cluster (version - ${{ matrix.clickhouse }}) in Docker
        uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.2
        env:
          CLICKHOUSE_VERSION: ${{ matrix.clickhouse }}
        with:
          compose-file: 'docker-compose.cluster.yml'
          down-flags: '--volumes'

      - name: Setup NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Install dependencies
        run: |
          npm install

      - name: Run all web tests
        run: |
          npm run test:web:integration:local_cluster

  node-integration-tests-cloud:
    needs: node-unit-tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup NodeJS ${{ matrix.node }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: |
          npm install

      - name: Run integration tests
        env:
          CLICKHOUSE_CLOUD_HOST: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_HOST_SMT }}
          CLICKHOUSE_CLOUD_PASSWORD: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_PASSWORD_SMT }}
          CLICKHOUSE_CLOUD_JWT_ACCESS_TOKEN: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_JWT_DESERT_VM_43 }}
        run: |
          npm run test:node:integration:cloud

  web-integration-tests-cloud:
    needs: node-unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Install dependencies
        run: |
          npm install

      - name: Run integration tests
        env:
          CLICKHOUSE_CLOUD_HOST: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_HOST_SMT }}
          CLICKHOUSE_CLOUD_PASSWORD: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_PASSWORD_SMT }}
        run: |
          npm run test:web:integration:cloud

      - name: Run JWT auth integration tests
        env:
          CLICKHOUSE_CLOUD_HOST: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_HOST_SMT }}
          CLICKHOUSE_CLOUD_PASSWORD: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_PASSWORD_SMT }}
          CLICKHOUSE_CLOUD_JWT_ACCESS_TOKEN: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_JWT_DESERT_VM_43 }}
        run: |
          npm run test:web:integration:cloud:jwt

  # With unit + integration + TLS tests + coverage + Codecov.io upload, after the rest of the tests.
  # Needs all integration tests on all environments to pass.
  # It should use only the current LTS version of Node.js.
  node-all-tests-codecov-upload:
    needs:
      [
        'common-unit-tests-web',
        'node-integration-tests-local-single-node',
        'node-integration-tests-local-cluster',
        'node-integration-tests-cloud',
        'web-all-tests-local-single-node',
        'web-integration-tests-local-cluster',
        'web-integration-tests-cloud',
      ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Start ClickHouse (version - ${{ matrix.clickhouse }}) in Docker
        uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.2
        with:
          compose-file: 'docker-compose.yml'
          down-flags: '--volumes'

      - name: Setup NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Install dependencies
        run: |
          npm install

      - name: Add ClickHouse TLS instance to /etc/hosts
        run: |
          sudo echo "127.0.0.1 server.clickhouseconnect.test" | sudo tee -a /etc/hosts

      - name: Run unit + integration + TLS tests with coverage
        run: |
          npm run test:node:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info
          fail_ci_if_error: true
